@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background-image: url('images/page_background.png');
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
    margin: 0% 0% 0% 0%;
} 
form{
    opacity: 95%;
    justify-content: space-between;
}
.bod{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 5%;
}
label{
    color: #001F54;
    font-size: 100%;
    font-weight: bold;

}
h5{
    color: #001F54;
    font-size: 90%;
}
h2{
    color: #001F54;
    text-align: center;
    font-size: 150%;
}
h1 {
    font-weight: bold;
    margin: 0;
}
input,select {
    background-color: white;
    border-style:double;
    border-color: #001F54;
    padding: 12px 15px;
    border-radius: 20px;
}
input{
    width: 90%;
    margin-bottom: 2%;
}
select{   
    width: 100%;
    border-style: solid;
    border-color: #001F54;
    margin-bottom: 2%;
}

.navbar{
    background-color: #001F54;
    display: flex;
    min-width: 320px;
    height: 4rem;
    padding: 1% 1% 1% 1%;
}
#navbar1{
    width: 20%;
    display: flex;
    align-items: center;
}
#logo{
    width: 100%;
    height: auto;
    max-width: 150px;
}
#login-btn{
    align-items: center;
      background-color: #001F54;
      border-style: 1px solid;
      border-color: white;
      border-radius: 100px;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-flex;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 20px;
      width: 150px;
      height: 50px;
      min-width: 0px;
      overflow: hidden;
      padding: 0px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      touch-action: manipulation;
      transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
}
#navbar-options{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        padding: 0.5% 0.5% 0.5% 0.5%;
        width: 80%;
    }
#login-btn:hover,
    #login-btn:focus { 
      background-color: white;
      color: #001F54;
      border-color: #001F54;
    }

    #login-btn:active {
      background: #09223b;
      color: rgb(255, 255, 255, .7);
    }

    #login-btn:disabled { 
      cursor: not-allowed;
      background: rgba(0, 0, 0, .08);
      color: rgba(0, 0, 0, .3);
    }

.footer{
    background-color: #001F54;
    height: 100%;
    padding: 5px 0 2px 10px;

}
p,#in-p{
    color: white;
    padding-left: 0.5rem ;
}
a:hover{
    color: #ffffff ;
}
.icons{
    width: 2.2rem;
}
#footor-main{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#social-icons{
    width: 50%;
}
#verifying{ 
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#verify_btn{
    align-items: center;
      background-color: #001F54;
      border-style: 1px solid;
      border-color: white;
      border-radius: 100px;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-flex;
      font-size: 13px;
      font-weight: 600;
      justify-content: center;
      line-height: 10px;
      width: 100px;
      height: 40px;
      min-width: 0px;
      overflow: hidden;
      padding: 0px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      touch-action: manipulation;
      transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      margin-right: 2rem;
}
#verify_btn:hover,#verify_btn:focus { 
      background-color: white;
      color: #001F54;
      border-color: #001F54;
    }

    #verify_btn:active {
      background: #09223b;
      color: rgb(255, 255, 255, .7);
    }

    #verify_btntn:disabled { 
      cursor: not-allowed;
      background: rgba(0, 0, 0, .08);
      color: rgba(0, 0, 0, .3);
    }
#pcbox{
    padding: 0 5% 0 5%;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}
#click{
    background-color: #001f54;
    border-color: #001f54;
    border-style: none;
}
#vis{
  display: flex;
  position: absolute;
  top: 63px;
  right: 0.05%;
  background-color: white;
  position: absolute;
  z-index: 2;
}
ol{
    text-decoration: none;
}
#ham{
  display: none;
  border-style: solid;
  border-color: #001F54;
  width: 130px;
  height: auto;
  padding: 8px 2px 2px 8px;
}
@media only screen and (min-width: 750px){
  #click,#ham,#vis{
        display: none;
    }
    #mobileview{
        display: none;
    }

    form{
        background-color: white;
        border-radius: 20px;
        min-width: 500px;
        width: auto;
        height: auto;
        border-style: solid;
        border-color: #001F54;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 15px 0 15px;
    }
    #otp{
        width: 100px;
        border-radius: 20px;
    }
    input{
        min-width: auto;
        width: 80%;
    }
    select{
        min-width: auto;
        width: 86%;
    }
    
    .nav-opt{
        color: white;
        font-size: 15px;
        text-decoration: none;
        margin-right: 2%;
    }
    a:hover{
        color: #FF7D00;
    }
    .signIn-button{
      align-items: center;
      background-color: white;
      border-style: 1px solid;
      border-color: white;
      border-radius: 100px;
      box-sizing: border-box;
      color: #001F54;
      cursor: pointer;
      display: inline-flex;
      font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 20px;
      max-width: 300px;
      min-height: 30px;
      min-width: 0px;
      overflow: hidden;
      padding: 0px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      touch-action: manipulation;
      transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
    }

    .signIn-button:hover,
    .signIn-button:focus { 
      background-color: #001F54;
      border-color: white;
      color: #ffffff;
    }

    .signIn-button:active {
      background: #09223b;
      color: rgb(255, 255, 255, .7);
    }

    .signIn-button:disabled { 
      cursor: not-allowed;
      background: rgba(0, 0, 0, .08);
      color: rgba(0, 0, 0, .3);
    }
}
a{
    color: #001F54;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 2%;
}
    
a:hover{
    color: #FF7D00;
}
@media only screen and (max-width: 750px){
    .nav-opt,#buton{
        display: none;
    }
    
    #pcview{
        display: none;
    }
    form{
        background-color: white;
        border-radius: 20px;
        /* min-width: 400px; */
        /* max-width: 550px; */
        height: auto;
        border-style: solid;
        border-color: #001F54;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 15px 0 15px;
        /* position: absolute; */
    }
    .signIn-button{
      align-items: center;
      background-color: #001F54;
      border-style: 1px solid;
      border-color: #001F54;
      border-radius: 100px;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-flex;
      font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
      font-size: 9px;
      font-weight: 600;
      justify-content: center;
      line-height: 20px;
      max-width: 300px;
      min-height: 30px;
      min-width: 0px;
      overflow: hidden;
      padding: 0px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      touch-action: manipulation;
      transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      margin-bottom: 2px;
    }



    .signIn-button:hover,
    .signIn-button:focus { 
      background-color: white;
      color: #001F54;
    }

    .signIn-button:active {
      background: #09223b;
      color: rgb(255, 255, 255, .7);
    }

    .signIn-button:disabled { 
      cursor: not-allowed;
      background: rgba(0, 0, 0, .08);
      color: rgba(0, 0, 0, .3);
    }
    #b1{
        display: none;
    }
      a{
        color: #001F54;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        margin-right: 2%;
    }
    a:hover{
        color: #FF7D00;
    }
  

}
