@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
body {
  background-image: url("../images/page_background.png");
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
  margin: 0% 0% 0% 0%;
}
h2 {
  color: #001f54;
  font-size: 40px;
}
h1 {
  font-weight: bold;
  margin: 0;
}
input {
  background-color: #eee;
  border-style: solid;
  border-radius: 5%;
  border-color: #001f54;
  padding: 12px 15px;
  margin-left: 5%;
  margin-bottom: 5%;
  min-width: auto;
  width: 90%;
  margin-right: 5%;
}
form {
  background-color: white;
  border-radius: 20px;
  height: auto;
  border-style: solid;
  border-color: #001f54;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px 0 15px;
}
.navbar {
  background-color: #001f54;
  display: flex;
  min-width: 320px;
  height: auto;
  padding: 1% 1% 1% 1%;
}
#navbar1 {
  width: 20%;
  display: flex;
  align-items: center;
}
#logo {
  width: 100%;
  height: auto;
  max-width: 150px;
}
#clickable {
  background-color: #001f54;
  border-style: solid;
  border-color: #001f54;
  width: 4rem;
  display: flex;
  flex-direction: row-reverse;
}
.bod {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px 0 2px 0;
  margin-bottom: 1px;
}
#login-btn {
  align-items: center;
  background-color: #001f54;
  border-style: 1px solid;
  border-color: white;
  border-radius: 100px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  width: 150px;
  height: 50px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.footer {
  background-color: #001f54;
  height: 100%;
  padding: 5px 0 2px 10px;
  min-width: 320px;
}
p,
#in-p {
  color: white;
  padding-left: 0.5rem;
}
a:hover {
  color: #ffffff;
}
.icons {
  width: 2.2rem;
}
#footor-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#social-icons {
  width: 50%;
}
#navbar-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  padding: 0.5% 0.5% 0.5% 0.5%;
  width: 80%;
}
#click {
  background-color: #001f54;
  border-color: #001f54;
  border-style: none;
}
#vis {
  display: flex;
  position: fixed;
  top: 86px;
  right: 0.05%;
  background-color: white;
}
ol {
  text-decoration: none;
}
#ham {
  display: none;
  border-style: solid;
  border-color: #001f54;
  width: 130px;
  height: auto;
  padding: 8px 2px 2px 8px;
}
@media only screen and (min-width: 750px) {
  .tut-name{
    text-align: left;
  }
  .tut-front{
    width: 60%;
    margin-left: 1%;
  }
  .tut-main{
    display: flex;
    flex-direction: row;
  }
  #click,
  #ham,
  #vis {
    display: none;
  }

  .nav-opt {
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin-right: 2%;
  }
  a:hover {
    color: #ff7d00;
  }
  .signIn-button {
    align-items: center;
    background-color: white;
    border-style: 1px solid;
    border-color: white;
    border-radius: 100px;
    box-sizing: border-box;
    color: #001f54;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
      "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 300px;
    min-height: 30px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }

  .signIn-button:hover,
  .signIn-button:focus {
    background-color: #001f54;
    color: #ffffff;
    border-color: white;
  }

  .signIn-button:active {
    background: #09223b;
    color: rgb(255, 255, 255, 0.7);
  }

  .signIn-button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
  }
}
a {
  color: #001f54;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 2%;
}

a:hover {
  color: #ff7d00;
}
#video-player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 10/5 ;
  margin: 0;
  margin-left: 9%;
  margin-top: 2%;
  margin-right: 9%;
  width: 85%;
}
@media only screen and (max-width: 750px) {
  .tut-name,h4{
    text-align: center;

  }
  .tut-front{
    width: 96%;
    margin-bottom: 2%;
  }
  .tut-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-opt,
  .signIn-button {
    display: none;
  }

  #b1,
  #buton {
    display: none;
  }
  a {
    color: #001f54;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 2%;
  }
  a:hover {
    color: #ff7d00;
  }
  .signIn-button {
    align-items: center;
    background-color: #001f54;
    border-style: 1px solid;
    border-color: #001f54;
    border-radius: 100px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
      "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans",
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande",
      Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 200px;
    min-height: 30px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-bottom: 2px;
  }

  .signIn-button:hover,
  .signIn-button:focus {
    background-color: white;
    color: #001f54;
  }

  .signIn-button:active {
    background: #09223b;
    color: rgb(255, 255, 255, 0.7);
  }

  .signIn-button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
  }
}

#side-head {
  color: white;
  background-color: #001f54;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1% 3% 1% 2%;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: #001f54;
  font-weight: bold;
  font-size: 150%;
  margin-top: 1.5%;
}

a {
  color: #001f54;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 2%;
}

a:hover {
  color: #ff7d00;
}

#middle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    margin: 1%;
    background-color: white;
    border-style: solid;
    border-color: #001F54;
    border-radius: 10px;
    /* justify-content: center; */
}
.tut-main{
    width: 100%;
    height: auto;
    background-color: #001F54;
    border-color: #001F54;
    border-radius: 10px;
    border-style: solid;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* margin: 2%; */
    margin-bottom: 1%;
    align-items: center;
}
.tut-front{
    background-color: white;
    border-radius: 10px;
    height: auto;
    padding: 1%;
    display: flex;
    padding-left: 2%;
    margin-left: 5;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tut-name{
    margin: 0;
    color: #001F54;
    width: 60%;
}
.tut-bot{
    padding: 1%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tut-btn{
    align-items: center;
    background-color: white;
    border-style: 1px solid;
    border-color: white;
    border-radius: 100px;
    box-sizing: border-box;
    color: #001F54;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
      "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans",
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande",
      Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    justify-content: center;
    line-height: 20px;
    width: 250px;
    min-height: 35px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-bottom: 2px;
  }

  .tut-btn:hover,
  .tut-btn:focus {
    background-color: #001F54;
    color: white;
  }

  .tut-btn:active {
    background: #09223b;
    color: rgb(255, 255, 255, 0.7);
  }

  .tut-btn:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
  }